.ArtistItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 1rem;
  background: #181818;
  /* margin: 2rem 0rem; */
}
.ArtistItemImg {
  width: 70%;
  height: 70%;
}
.ArtistItemImg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.ArtistItem h3 {
  text-transform: capitalize;
  margin: 0.5rem 0rem;
  text-align: center;
}
.ArtistItem span {
  text-transform: capitalize;
  text-align: center;
}
@media (max-width: 800px) {
  .ArtistItem {
    position: absolute;
    height: 100%;
    width: 230px;
  }
  .ArtistItemImg img {
    object-fit: cover;
  }
}
@media (max-width: 325px) {
  .ArtistItem {
    width: 180px;
  }
}
