.HomeRow {
  padding: 1rem;
  /* background-color: rgba(0, 0, 0, 0.952); */
  color: white;
  cursor: pointer;
}
.HomeRow h1 {
  text-transform: capitalize;
  margin: 1rem 0rem;
}

.HomeRowItem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}
@media (max-width: 800px) {
  .HomeRowItem {
    position: relative;
    /* grid-template-columns: repeat(5, auto); */
    padding: 0;
    grid-template-rows: 330px;
    overflow-y: hidden;
    overflow-x: auto;
  }
  .HomeRowItem::-webkit-scrollbar {
    width: 0;
  }
}
@media (max-width: 325px) {
  .HomeRowItem {
    grid-template-rows: 290px;
  }
}
